<aside class="p-3">
    <div class="brand fs-3 mb-3 h-text-primary-dark fw-bold">تطوع</div>
    <ul class="sidebar-link">
        <li>
            <a href="/foundation" >
                <i class="fa-solid fa-house"></i>
                الصفحة الرئيسية
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center" href="/foundation/requests">
                <i class="fa-solid fa-bullhorn"></i>
                    الطلبات
                <p id="greenDot" class="notification d-none text-white me-3 m-0 p-2 d-flex justify-content-center align-items-center"></p>
            </a>
        </li>
        <li>
            <a href="/foundation/events">
                <i class="fa-solid fa-handshake-angle"></i>
                 إدارة الأحداث
            </a>
        </li>
        <li>
            <a href="/foundation/members">
                <i class="fa-solid fa-people-group"></i>
                فريقي التطوعي
            </a>
        </li>
        <li>
            <a href="/foundation/profile" >
                <i class="fa-solid fa-user"></i>
                ملفي الشخصي
            </a>
        </li>
     
        <li class="mt-4">
            <a href="/auth/logout" class="h-bg-primary-dark  text-white h-text-13 rounded-pill px-2 py-1">
                <i class="fa-solid fa-right-from-bracket"></i>
                تسجيل الخروج
            </a>
        </li>
    </ul>
</aside>
<div id="snackbar">Some text some message..</div>



<script>
    const worker = new Worker("/js/foundationWorker.js")
    const greenDot = document.getElementById("greenDot");
    worker.onmessage =(msg)=>{
        if(localStorage.getItem("notify") == null){
            localStorage.setItem("notify",0);
        }
        if(msg.data.length == 0){
            greenDot.innerHTML = msg.data.length
            greenDot.classList.add("d-none");
            localStorage.setItem("notify",0);

            
        }else{
            greenDot.classList.remove("d-none");
            greenDot.innerHTML =  msg.data.length
            if(document.location.pathname.split("/")[2] != "requests"){
                if(localStorage.getItem("notify") < msg.data.length){
                    localStorage.setItem("notify",msg.data.length);
                    myFunction(msg.data[msg.data.length - 1]);
                }else{
                    localStorage.setItem("notify",msg.data.length);
                }
            }
           
        }
    }

    function myFunction(data) {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");
        x.innerHTML =`<span class="fw-bold">@${data.volunteer}</span>  طلب الانضمام الئ حدث  <span class="fw-bold">${data.event}</span>`
        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

       
</script>