<aside class="p-3">
    <div class="brand fs-3 mb-3 h-text-primary-dark fw-bold">تطوع</div>
    <ul class="sidebar-link">
        <li>
            <a href="/volunteer">
                <i class="fa-solid fa-house"></i>
                 الرئيسية
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center" href="/volunteer/requests">
                <i class="fa-solid fa-bullhorn"></i>
                    الدعوات
                <span class="notification me-3"></span>
            </a>
        </li>
        <li>
            <a href="/volunteer/events">
                <i class="fa-solid fa-handshake-angle"></i>
                الأحداث 
            </a>
        </li>
        <li>
            <a href="/volunteer/events/eventMember">
                <i class="fa-solid fa-hands-holding"></i>
                المشاركات 
            </a>
        </li>
        <li>
            <a href="/volunteer/profile">
                <i class="fa-solid fa-user"></i>
                ملفي الشخصي
            </a>
        </li>
        <li class="mt-4">
            <a href="./profile.html" class="h-bg-primary-dark text-white h-text-13 rounded-pill px-2 py-1">
                <i class="fa-solid fa-right-from-bracket"></i>
                تسجيل الخروج
            </a>
        </li>
    </ul>
</aside>