<aside class="p-3">
    <div class="brand fs-3 mb-3 h-text-primary-dark fw-bold">تطوع</div>
    <ul class="sidebar-link">
        <li>
            <a href="/volunteer">
                <i class="fa-solid fa-house"></i>
                 الرئيسية
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center" href="/volunteer/requests">
                <i class="fa-solid fa-bullhorn"></i>
                    الدعوات
                <p id="greenDot" class="notification d-none text-white me-3 m-0 p-2 d-flex justify-content-center align-items-center"></p>
            </a>
        </li>
        <li>
            <a href="/volunteer/events">
                <i class="fa-solid fa-handshake-angle"></i>
                الأحداث 
            </a>
        </li>
        <li>
            <a href="/volunteer/events/eventMember">
                <i class="fa-solid fa-hands-holding"></i>
                المشاركات 
            </a>
        </li>
        <li>
            <a href="/volunteer/profile">
                <i class="fa-solid fa-user"></i>
                ملفي الشخصي
            </a>
        </li>
        <li class="mt-4">
            <a href="/auth/logout" class="h-bg-primary-dark text-white h-text-13 rounded-pill px-2 py-1">
                <i class="fa-solid fa-right-from-bracket"></i>
                تسجيل الخروج
            </a>
        </li>
    </ul>
</aside>
<!-- <div id="snackbar">Some text some message..</div> -->

<script>
    const worker = new Worker("/js/volunteerWorker.js")
    const greenDot = document.getElementById("greenDot");
    worker.onmessage =(msg)=>{
        if(msg.data == 0){
            greenDot.innerHTML = msg.data
            greenDot.classList.add("d-none");
            // myFunction(msg.data);

        }else{
            greenDot.classList.remove("d-none");
            greenDot.innerHTML =  msg.data
            // myFunction(msg.data);
        }
    }

    // function myFunction(data) {
    //     // Get the snackbar DIV
    //     var x = document.getElementById("snackbar");
    //     x.innerHTML = data
    //     // Add the "show" class to DIV
    //     x.className = "show";

    //     // After 3 seconds, remove the show class from DIV
    //     setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    // }

       
</script>