<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>LogIn</title>
</head>
<body class="bg-light">
    <div class="full-screen">
        <div class="row">
            <div class="col-lg-5 h-bg-primary-dark d-flex justify-content-center align-items-center vh-100">
                <img  src="/img/logo.png" style="width: 350px; height: 350px;object-fit: contain;" id="login-imag" alt="login">
            </div>



            <div class="pe-5 col-lg-7 col-md-12 col-sm-12 d-flex justify-content-center align-items-satrt flex-column">
                <div class="me-5">
                    <header class="fw-bolder fs-2 h-text-primary-dark">كُنَّ كَالْغَيْثِ أَيْنَمَا حَلَّ نَفْع</header>
                    <p class="fw-bolder fs-2 h-text-primary-dark mt-4">إنضم الآن.</p>
                </div>
                <div class="me-5 mt-3">
                    <a href="/auth/volunteer/register" class="btn ladingPageBtn btn-sm  mb-3 rounded-pill ">
                        <i class="fa-solid fa-people-group"></i>
                        إنشاء حساب متطوع
                    </a>
                    <br>
                    <a href="/auth/foundation/register" class="btn ladingPageBtn btn-sm  rounded-pill ">
                        <i class="fa-solid fa-people-roof"></i>
                        إنشاء حساب مؤسسة
                    </a>
                </div>

                <div class="me-5">
                    <p class="text-dark mt-2">---------------- أو ---------------</p>
                    <a href="/auth/login"  class="btn ladingPageBtn btn-sm text-white rounded-pill  h-bg-primary-dark">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        سجل دخولك
                    </a>

                </div>
            </div>

            

            
        </div>
    </div>
      <!-- لا تنسئ تحط الرابط -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>