<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/auth.css">
    <title>LogIn</title>
</head>
<body class="bg-light">
    <div class="circle h-bg-secondary-dark rounded-circle"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 pt-5 d-flex justify-content-center align-content-center">
                <div id="login-wrpper" class="bg-white p-3 rounded shadow">
                    <h4 class="text-center h-text-secondary-dark my-2 fw-bold">مرحباً بكَ مجدداً</h4>
                    <form action="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label h-text-14 fw-bold">
                                        <i class="fa-solid fa-user"></i>
                                         أسم المستخدم
                                  </label>
                                    <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label h-text-14 fw-bold ">
                                        <i class="fa-solid fa-key"></i> 
                                         كلمة المرور
                                    </label>
                                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
                                </div>
                            </div>
                            <div class="col-12">   
                            <!-- <p class="h-text-secondary-dark h-text-14 fw-bold">أنت غير مصرح به!! تأكد من صحة البيانات :)</p> -->
                            <button type="submit" class="btn btn-sm h-btn-primary h-bg-secondary-dark text-white h-text-17 ">دخول</button>
                            <p class="h-text-13 text-secondary mt-2 m-0">
                                ليس لديك حساب مسبق؟ 
                                <a href="" class=" h-text-secondary-dark  ">
                                    تسجيل حساب جديد
                                </a>
                            </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block d-md-block">
                <img  src="/img/login4.svg" id="login-imag" alt="login">
            </div>
            
        </div>
    </div>
      <!-- لا تنسئ تحط الرابط -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>