:root{  
    --h-primary:#48e948;
    --h-primary-dark:#36b336;
    --h-primary-light:#b8efb8;
    --h-secondary:rgb(255, 77, 77);
    --h-secondary-dark:rgb(179, 54, 54);
    --h-gray:#9DA0A7;
    --h-light:#ffffff;
    --h-brown:#64312F;
    --h-dark:#141514;
    direction: rtl;
}
::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    height: 10px;
  }

  /* Set styles for the thumb (the moving part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--h-primary-light); /* Set the background color of the thumb */
    border-radius: 6px; /* Set the border radius to make it rounder */
  }

  /* Set styles for the scrollbar track on hover */
  ::-webkit-scrollbar-track:hover {
    background-color: var(--h-primary-light); /* Change the background color on hover */
  }

  /* Set styles for the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--h-primary-dark); /* Change the background color of the thumb on hover */
  }
@font-face {
    font-family:Cairo;
    src: url("../font/Cairo-VariableFont_slnt\,wght.ttf");
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family:Cairo;
}
/* body{
    overflow-x: hidden;
} */
.h-text-primary{
    color: var(--h-primary);
}
.h-bg-primary{
    background-color:var(--h-primary) ;
}

.h-text-primary-dark{
    color: var(--h-primary-dark);
}
.h-text-primary-light{
    color: var(--h-primary-light);
}

.h-bg-primary-dark{
    background-color: var(--h-primary-dark) !important;
}
.h-bg-primary-light{
    background-color: var(--h-primary-light);
}
.h-bg-secondary{
    background-color: var(--h-secondary);
}

.h-text-secondary{
    color: var(--h-secondary);
}

.h-bg-secondary-dark{
    background-color: var(--h-secondary-dark);
}

.h-text-secondary-dark{
    color: var(--h-secondary-dark);
}

.h-text-gray{
    color:var(--h-gray);
}
.h-bg-gray{
    background-color:var(--h-gray);
}
.h-text-light{
    color:var(--h-light);
}
.h-bg-light{
    background-color:var(--h-light);
}

.h-text-brown{
    color: var(--h-brown);
}
.h-bg-brown{
    background-color: var(--h-brown);
}
.h-text-dark{
    color:var(--h-dark);
}

.h-bg-dark{
    background-color: var(--h-dark);
}

.h-text-13{
    font-size: 13px;

}
.h-text-14{
    font-size: 14px;

}

.h-text-15{
    font-size: 15px;

}
.h-text-16{
    font-size: 16px;

}
.h-text-17{
    font-size: 17px;

}

.h-btn-primary:hover{
    background-color:var(--h-primary-dark);
    color: var(--h-light);
}

.h-btn-primary-outline{
    border: 2px solid var(--h-primary-dark);
}

.h-btn-primary-outline:hover{
    background-color:var(--h-primary-dark);
    color: var(--h-light) !important;  
}

.full-screen{
    width: 100vw;
    height: 100vh !important;
}

.form-check-input:checked {
    background-color: var(--h-primary-dark);
    border-color: var(--h-primary-dark);
}

.form-control:focus {
    border-color: #a6cd7a;
    box-shadow: 0 0 0 0.25rem #a6cd7a;
}

.sidebar-link{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-link > li{
    margin: 15px 0 15px 0;
}

.sidebar-link > li > a{
    color:var(--h-dark);
    font-weight:bold;
    text-decoration: none;
    font-size: 15px;
}
.sidebar-link > li > a > i{
    margin-left: 10px;
}

.sidebar-link >li:hover > a{
    color: #4dff4d;
}

.active-link-sidebar{
    color: var(--h-primary) !important;
}

.fa-star{
    color: gold;
    font-size: 14px;
    margin-bottom: 20px;
}

.foundations img , .badges img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.notification{
    display: block;
    width: 10px;
    height: 10px;
    background: var(--h-primary);
    border-radius: 50%;
}

.backBtn{
    border: none ;
    border-radius: 50%;
    height: 40px;
    width:40px ;
    background-color: var(--h-primary-dark);
    color: var(--h-light);
}
.form-select:focus {

    border-color: #a6cd7a;
    box-shadow: 0 0 0 0.25rem #a6cd7a;
}