<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>notifications</title>
</head>
<body>
    <main>
         <div class="">
            <div class="row position-relative">
                <div class="col-2 vh-100 position-sticky top-0 end-0 bg-light">
                    <aside class="p-3">
                        <div class="brand fs-3 mb-3 h-text-primary-dark fw-bold">تطوع</div>
                        <ul class="sidebar-link">
                            <li>
                                <a href="./home.html">
                                    <i class="fa-solid fa-house"></i>
                                    الصفحة الرئيسية
                                </a>
                            </li>
                            <li>
                                <a href="./notifications.html">
                                    <i class="fa-solid fa-bell"></i>
                                    الأشعارات
                                </a>
                            </li>
                            <li>
                                <a href="./events.html">
                                    <i class="fa-solid fa-handshake-angle"></i>
                                    الأحداث التطوعية
                                </a>
                            </li>
                            <li>
                                <a href="./myEvents.html" class="active-link-sidebar">
                                    <i class="fa-solid fa-hands-holding"></i>
                                    المشاركات التطوعية
                                </a>
                            </li>
                            <li>
                                <a href="./profile.html" >
                                    <i class="fa-solid fa-user"></i>
                                    ملفي الشخصي
                                </a>
                            </li>
                            <li class="mt-4">
                                <a href="./profile.html" class="h-bg-primary-light rounded-pill px-2 py-1">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    تسجيل الخروج
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-7">
                    <section class="p-3">
                        <h4 class="fw-bold">مشاركاتي التطوعية</h4>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 mb-2">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <img src="/public/img/pg1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div class="card-body bg-light">
                                            <p class="card-title  text-dark m-0 my-2 fw-bold">
                                                <i class="fa-solid  fa-handshake-angle"></i>
                                                توزيع كسوة العيد
                                            </p>
                                            <p class=" h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-building"></i>
                                                مؤسسة متطوعون
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-map-location"></i>
                                                المكلا
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-people-group"></i>
                                                30
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <button class="btn btn-sm w-100 text-white h-bg-primary-dark h-btn-primary">تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <img src="/public/img/pg1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div class="card-body bg-light">
                                            <p class="card-title  text-dark m-0 my-2 fw-bold">
                                                <i class="fa-solid  fa-handshake-angle"></i>
                                                توزيع كسوة العيد
                                            </p>
                                            <p class=" h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-building"></i>
                                                مؤسسة متطوعون
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-map-location"></i>
                                                المكلا
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-people-group"></i>
                                                30
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <button class="btn btn-sm w-100 text-white h-bg-primary-dark h-btn-primary">تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <img src="/public/img/pg1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div class="card-body bg-light">
                                            <p class="card-title  text-dark m-0 my-2 fw-bold">
                                                <i class="fa-solid  fa-handshake-angle"></i>
                                                توزيع كسوة العيد
                                            </p>
                                            <p class=" h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-building"></i>
                                                مؤسسة متطوعون
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-map-location"></i>
                                                المكلا
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-people-group"></i>
                                                30
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <button class="btn btn-sm w-100 text-white h-bg-primary-dark h-btn-primary">تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <img src="/public/img/pg1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div class="card-body bg-light">
                                            <p class="card-title  text-dark m-0 my-2 fw-bold">
                                                <i class="fa-solid  fa-handshake-angle"></i>
                                                توزيع كسوة العيد
                                            </p>
                                            <p class=" h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-building"></i>
                                                مؤسسة متطوعون
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-map-location"></i>
                                                المكلا
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-people-group"></i>
                                                30
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <button class="btn btn-sm w-100 text-white h-bg-primary-dark h-btn-primary">تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <img src="/public/img/pg1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div class="card-body bg-light">
                                            <p class="card-title  text-dark m-0 my-2 fw-bold">
                                                <i class="fa-solid  fa-handshake-angle"></i>
                                                توزيع كسوة العيد
                                            </p>
                                            <p class=" h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-building"></i>
                                                مؤسسة متطوعون
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-map-location"></i>
                                                المكلا
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-people-group"></i>
                                                30
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <button class="btn btn-sm w-100 text-white h-bg-primary-dark h-btn-primary">تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <img src="/public/img/pg1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div class="card-body bg-light">
                                            <p class="card-title  text-dark m-0 my-2 fw-bold">
                                                <i class="fa-solid  fa-handshake-angle"></i>
                                                توزيع كسوة العيد
                                            </p>
                                            <p class=" h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-building"></i>
                                                مؤسسة متطوعون
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-map-location"></i>
                                                المكلا
                                            </p>
                                            <p class="h-text-16 fw-semibold m-0 my-1 text-dark">
                                                <i class="fa-solid fa-people-group"></i>
                                                30
                                            </p>
                                        </div>
                                        <div class="card-footer p-1">
                                            <button class="btn btn-sm w-100 text-white h-bg-primary-dark h-btn-primary">تفاصيل</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </section> 
                   <div id="pagenation" class="d-flex justify-content-between align-items-center">
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link h-text-primary-dark" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link text-white h-bg-primary-dark" href="#">1</a></li>
                          <li class="page-item"><a class="page-link h-text-primary-dark" href="#">2</a></li>
                          <li class="page-item"><a class="page-link h-text-primary-dark" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link h-text-primary-dark" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                    <span> الصفحه 1 من 3</span>
                </div>
                </div>
                <div class="col-3">
                    <div class="bg-light p-3">
                        <h5 class="fw-bold">
                            <i class="fa-solid fa-filter"></i>
                            فلترة
                        </h5>
                        <hr>
                        <div class="container">
                            <form class="">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="" class="form-label fw-bold h-text-17">
                                            بحث
                                            <i class="fa-solid fa-search"></i>
                                        </label>
                                        <input type="text" name="" id="" class="form-control form-control-sm rounded-pill h-text-17" placeholder="تنظيف الشاطئ" aria-describedby="helpId"/>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label fw-bold h-text-17">
                                        <i class="fa-solid fa-map-location"></i>
                                        المدينة
                                    </label>
                                    <select class="form-select form-select-sm  rounded-pill h-text-17" name="" id="">
                                        <option selected>الكل</option>
                                        <option value="">المكلا</option>
                                        <option value="">سيؤون</option>
                                        <option value="">غيل باوزير</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label fw-bold h-text-17">
                                        <i class="fa-solid fa-clipboard-list"></i>
                                        الحالة
                                    </label>
                                    <select class="form-select form-select-sm rounded-pill h-text-17" name="" id="">
                                        <option selected>الكل</option>
                                        <option value="">الحالي</option>
                                        <option value="">طلبات الانضام</option>
                                        <option value="">المنتهي</option>
                                    </select>
                                </div> 

                                <div class="mb-3">
                                    <label for="" class="form-label fw-bold h-text-17">
                                        <i class="fa-solid fa-calendar"></i>
                                        تاريخ البدء
                                    </label>
                                    <input type="date" class="form-control rounded-pill form-control-sm" name="" id="" aria-describedby="helpId" placeholder="" />
                                </div>
 
                                
                            </form>
                            

                        </div>
                    </div>
                </div>
            </div>
         </div>
    </main>
    <div></div>
    
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</body>
</html>